<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/assets/js/main.js" defer></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>

  <body>
    <h1>Cats of the Internet</h1>

    <div id="wrapper">
      <div id="catImg"></div>
    </div>

    <div class="buttonWrapper">
      <button id="previousButton">Previous</button>
      <p id="pTag"></p>
      <button id="nextButton">Next</button>
    </div>

    <h3>Upload your best Cat pics or memes</h3>

    <form action="button">
      <label for="Name">Title</label>
      <input type="text" id="name" />

      <label for="Url">Url </label>
      <input type="text" id="url" />
    </form>
    <button id="uploadButton">Upload</button>
  </body>
</html>
